# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
env/
.env
.env/
.env.local
.env.*.local
pip-wheel-metadata/
pip-log.txt

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
logs/

# Excel/outputs
*.xlsx
*.xls

# IDE
.idea/
.vscode/

# Local data folders
data/
out/
